* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-home {
    height: 13%;    
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 5px 5px #888;
}

.header-div {
    height: 100%;
    width: 75%;
}

.header-logo {
    height: 70%;
}

.header-nav {
    width: 30%;
}

.header-nav a {
    text-decoration: none;
    font-weight: 700;
    font-size: large;
    font-family: 'Ubuntu', sans-serif;
    color: #324156;
}

main p, h1 {
    font-family: 'Ubuntu', sans-serif;
}

.section-titulo-banner {
    width: 100vw;
    /* background-color: aqua; */
    height: 100%;
}

.div-section {
    height: 80%;
    width: 75%;
    /* background-color: bisque; */
}

.div-container-texts {
    height: 50%;
    /* background-color: brown; */
}

.h1-home {
    font-weight: 900;
    font-size: 3.1rem;
    color: #324156;
}

.p-home {
    width: 40%;
    font-size: 1.3rem;
    color: #939393;
}

.banner {
    width: 40%;
    height: 50%;
}
    