* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-home {
    height: 10vh;    
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 5px 5px #888;
}

.header-div {
    height: 100%;
    width: 75%;
}

.header-logo {
    height: 70%;
}

.header-nav {
    width: 30%;
}

.header-nav a {
    text-decoration: none;
    font-weight: 700;
    font-size: large;
    font-family: 'Ubuntu', sans-serif;
    color: #324156;
}

main p, h1, h2, label {
    font-family: 'Ubuntu', sans-serif;
}

.section-titulo-banner {
    width: 100vw;
    height: 80vh;
    /* background-color: aqua; */
}

.div-section {
    height: 80%;
    width: 75%;
    /* background-color: bisque; */
}

.div-container-texts {
    height: 80%;
    /* background-color: brown; */
}

.h1-home {
    font-weight: 900;
    font-size: 3.1rem;
    color: #324156;
}

.p-home {
    width: 40%;
    font-size: 1.3rem;
    color: #939393;
}

.banner {
    width: 40%;
    height: 50%;
}

.section-form {
    height: 120vh;
    background-image: url('../images/background_form.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-color: antiquewhite; */
}

.div-container-form {
    height: 100%;
    width: 50%;
    background-color: #fff;
    opacity: 0.9;
    border-radius: 30px;
    border: #888 solid 1px;
    box-shadow: 5px 5px 5px #888;
}

.div-organize-form {
    height: 80%;
    width: 57%;
    /* background-color: aqua; */
}

form input {
    border-radius: 110px;
    padding-left: 4%;
    height: 6vh;
    border: none;
    box-shadow: 1px 1px 1px 1px #888;
    background-color: #f5f5f5;
    font-family: 'Ubuntu', sans-serif;
}

form label {
    font-size: 1.2rem;
}

.form-cadastro {
    height: 60%;
    /* background-color: bisque; */
}

footer p {
    font-size: 1.3rem;
    color: #939393;
}

.footer-cadastro {
    height: 20vh;
}