* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
}

/* TELA CADASTRO VEÍCULOS */

.header-home {
    height: 10vh;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 5px 5px #888;
}

.header-div {
    height: 100%;
    width: 75%;
}

.header-logo {
    height: 70%;
}

.header-nav {
    width: 30%;
}

.header-nav a {
    text-decoration: none;
    font-weight: 700;
    font-size: large;
    font-family: 'Ubuntu', sans-serif;
    color: #324156;
}

main p,
h1,
h2,
label,
span,
a {
    font-family: 'Ubuntu', sans-serif;
}

.section-titulo-banner {
    width: 100vw;
    height: 100vh;
    /* background-color: aqua; */
}

.div-section {
    height: 80%;
    width: 75%;
    /* background-color: bisque; */
}

.div-container-texts {
    height: 80%;
    /* background-color: brown; */
}

.h1-home {
    font-weight: 900;
    font-size: 3.1rem;
    color: #324156;
}

.p-home {
    width: 40%;
    font-size: 1.3rem;
    color: #939393;
}

.banner {
    width: 40%;
    height: 50%;
}

.section-form {
    height: 120vh;
    background-image: url('../images/background_form.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-color: antiquewhite; */
}

.div-container-form {
    height: 100%;
    width: 50%;
    background-color: #fff;
    opacity: 0.95;
    border-radius: 30px;
    border: #888 solid 1px;
    box-shadow: 5px 5px 5px #888;
}

.div-organize-form {
    height: 80%;
    width: 57%;
    /* background-color: aqua; */
}

.form-cadastro input {
    border-radius: 110px;
    padding-left: 4%;
    height: 6vh;
    border: none;
    box-shadow: 1px 1px 1px 1px #888;
    background-color: #f5f5f5;
    font-family: 'Ubuntu', sans-serif;
    opacity: 1;
    margin-top: 5px;
}

.form-cadastro label {
    font-size: 1.2rem;
    font-weight: bold;
}

.form-cadastro {
    height: 75%;
    /* background-color: bisque; */
}

.container-inputs {
    height: 75%;
    /* background-color: #939393; */
}

.btn-cadastro {
    border-radius: 110px;
    height: 7vh;
    border: none;
    background-color: #0033CC;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    font-weight: bold;
}

.btn-cadastro:hover {
    background-color: #4f71d8;
    color: #ffffff;
}

.footer-cadastro p {
    font-size: 1.3rem;
    color: #939393;
}

.footer-cadastro {
    height: 20vh;
}

/* FIM TELA CADASTRO VEÍCULOS */

/* TELA RESERVA VEÍCULOS */

.section-orcamento {
    height: 140vh;
    width: 100vw;
    /* background-color: antiquewhite; */

}

.div-container-orcamento {
    height: 65%;
    width: 75%;
}

.div-card {
    height: 100%;
    width: 49%;
    background-color: #fff;
    opacity: 0.95;
    border-radius: 30px;
    border: #888 solid 1px;
    box-shadow: 5px 5px 5px #888;
}

.form-orcamento input {
    border-radius: 110px;
    padding-left: 4%;
    height: 6vh;
    border: none;
    box-shadow: 1px 1px 1px 1px #888;
    background-color: #f5f5f5;
    font-family: 'Ubuntu', sans-serif;
    opacity: 1;
    margin-top: 5px;
}

.form-orcamento label {
    font-size: 1.2rem;
    font-weight: bold;
}

.form-orcamento {
    height: 65%;
    /* background-color: bisque; */
}

.div-organize-orcamento {
    height: 70%;
}

.container-inputs-orcamento {
    height: 60%;
    /* background-color: #4f71d8; */
}

.div-organize-card {
    height: 70%;
    /* background-color: #0033CC; */
}

.img-card {
    width: 100%;
    height: 70%;
}

.section-assinatura {
    height: 110vh;
    width: 100vw;
    /* background-color: antiquewhite; */
}

.div-container-assinatura {
    height: 83%;
    width: 75%;
}

.div-organize-assinatura {
    height: 70%;
}

.btn-assinar {
    border-radius: 110px;
    height: 7vh;
    border: none;
    background-color: #0033CC;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
}

.btn-assinar:hover {
    background-color: #4f71d8;
    color: #ffffff;
}

.valor-assinar {
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
}

.div-selos {
    height: 15%;
}

.selo {
    width: 2vw;
}

/* FIM TELA RESERVA VEÍCULOS */

/* TELA LISTAR VEÍCULOS */
.banner-listar {
    width: 40%;
    height: 60%;
}

.div-buscar {
    width: 100%;
    height: 10vh;
    border: #888 1px solid;
}

.div-container-busca {
    width: 75%;
    height: 100%;
    /* background-color: #75ff83; */
}

.input-pesquisa {
    background-image: url(../images/icon-lupa.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    /* Ajuste a posição da imagem */
    background-size: 8%;
    border-radius: 110px;
    padding-left: 10%;
    height: 6vh;
    width: 25%;
    border: none;
    box-shadow: 1px 1px 1px 1px #888;
    background-color: #f5f5f5;
    font-family: 'Ubuntu', sans-serif;
    opacity: 1;
    margin-top: 5px;
}

.btn-busca {
    border-radius: 110px;
    height: 6vh;
    border: none;
    background-color: #0033CC;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    font-weight: bold;
    width: 25%;
}

.btn-busca:hover {
    background-color: #4f71d8;
    color: #ffffff;
}

.div-container-listagem {
    height: 100vh;
    width: 100%;
}

/* CARROSSEL */

.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
    height: 60%;
    /* background-color: #0033CC; */
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    z-index: 99999;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    height: 100%;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 30px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-block: hidden;
    align-items: center;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 80%;
    list-style: none;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border: none;
    /* background-color: #0033CC; */
}


.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    font-size: 1.31rem;
}

.container-card {
    height: 100%;
    width: 100%;
    opacity: 0.95;
    border-radius: 30px;
    border: #888 solid 1px;
    box-shadow: 5px 5px 5px #888;
}

.card:hover {
    height: 400px;
    /* background-color: #0033CC; */

}

.btn-reserva {
    display: none;
    border-radius: 110px;
    height: 20%;
    width: 80%;
    border: none;
    background-color: #0033CC;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    font-weight: bold;
}

.icon-esquerda {
    z-index: 9999;
    height: 100%;
    width: 100%;
}

.icon-direita {
    z-index: 9999;
    height: 100%;
    width: 100%;
}

/* FIM CARROSSEL */

/* FIM TELA LISTAR VEÍCULOS */

/* TELA PAGAMENTO */

h3 {
    font-family: 'Ubuntu', sans-serif;
    color: #324156;
}

.section-pagamento {
    height: 45vh;
    /* background-color: #0033CC; */
}

.div-subtitulo {
    width: 75%;
}

.div-subtitulo p {
    font-family: 'Ubuntu', sans-serif;
    color: #324156;
    font-size: 1rem;
}

.faixa-titulo {
    background-color: #324156;
    height: 8vh;
}

.div-container-pagamento {
    width: 100%;
    height: 180vh;
    /* background-color: #4f71d8; */
}

.div-container-pagamento h3 {
    width: 75%;
}

.div-organize-pagamento {
    width: 75%;
    height: 90%;
    /* background-color: #888; */
}

.container-form-pagamento {
    width: 60%;
    height: 100%;
    /* background-color: aqua; */
}

.form-pagamento {
    height: 50%;
    /* background-color: aquamarine; */
}

.input-1 {
    width: 70%;
}

.input-2 {
    width: 15%;
}

.input-3 {
    width: 10%;
}

.input-4 {
    width: 60%;
}

.input-5 {
    width: 30%;
}

.input-6 {
    width: 20%;
}

.input-7 {
    width: 45%;
}

.input-8 {
    width: 10%;
}

.input-9 {
    width: 30%;
}

.input-10 {
    width: 55%;
}

.container-inputs-pagamento input {
    border: none;
    border-bottom: 1px solid #888;
    font-size: 1.2rem;
    padding-bottom: 1%;
}

.input-pagamento {
    color: #7a7a7a;
    width: 70%;
    /* background-color: #4f71d8; */
}

.input-pagamento label {
    font-size: 1.2rem;
}

.checkbox-pagamento {
    color: #7a7a7a;
    width: 70%;
    /* background-color: #4f71d8; */
}

.checkbox-pagamento input {
    display: none;
}

.checkbox-pagamento input + label::before {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 2px solid #888;
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 5px;
}

.checkbox-pagamento input:checked + label::before {
    background-size: cover;
    background-image: url('../images/check-white.png');
    background-color: #0033CC;
}

.checkbox-pagamento label {
    font-size: 1.2rem;
}

.inputs-p {
    width: 49%;
}

.btn-salvar {
    width: 40%;
    height: 8%;
    border-radius: 50px;
    font-size: 1.4rem;
    background-color: #888;
    color: #ffffff;
}

.container-termos {
    height: 50%;
}

.container-termos h5 {
    color: #324156;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}

.termos {
    font-size: 19px;
}

.container-detalhes {
    width: 40%;
    height: 100%;
    /* background-color:#4f71d8; */
}

.img-cartao {
    width: 90%;
}

.container-reserva {
    /* background-color: antiquewhite; */
    height: 75%;
    width: 90%;
}

.box-retirada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #888;
    width: 100%;
    height: 20%;
}

.box-retirada-oferta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #888;
    width: 100%;
    height: 30%;
}

.organize-box {
    width: 80%;
}

.organize-box-oferta {
    width: 80%;
}

.box-retirada span , p{
    font-size: 20px;
    width: 80%;
}

.organize-box span , a{
    font-size: 25px;
}

.organize-box-oferta span , a{
    font-size: 25px;
}

.span-oferta {
    width: 80%;
    font-size: 25px;

}

.box-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #888;
    width: 100%;
    height: 30%;
    background-color: #324156;
}

.box-total span {
    font-size: 28px;
    font-weight: bolder;
    color: #fff;
}

/* FIM TELA PAGAMENTO */

/* TELA LOGIN */

.cor-login{
    background-color: #0CDAC3;
    height: 90vh;
    width: 100%;
}

.logo-branca{   
    height: 15%;
    width: 15%;
    margin: 3% 45% 5px;
    align-items: center;

}

.l-nav{
    width: 100%;
    margin-top: 10px;
    margin: 1px;
}

.form-login input {
    margin: 1px 70px;
    border-radius: 110px;
    padding-left: 4%;
    height: 6vh;
    width: 90%;
    border: none;
    box-shadow: 1px 1px 1px 1px #888;
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
    opacity: 1;
    margin-top: 3px;
}

.form-login label {
    font-size: 1.2rem;
    font-weight: bold;
}

.form-login {
    height: 10%;
    margin-top: 10% ;
    align-items: center;


    /* background-color: bisque; */
}

.btn-login {
    margin-top: 15px;
    border-radius: 110px;
    height: 6vh;
    width: 90%;
    border: #0CDAC1 solid 1px;
    background-color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    color: #0CDAC1;
    font-weight: bold;
    
}

.btn-login:hover {
    background-color: #324156;
    color: #ffffff;
    border: #ffffff solid 1px;

}


.login-nav{
        width: 95%;
        margin-top: 10px;
    }


.login-nav a{
    text-decoration: none;
    font-weight: 700;
    font-size: large;
    font-family: 'Ubuntu', sans-serif;
    color: #324156;
}

.icon{
    font-size: 15px;
    color: #fff;
}
/* FIM TELA LOGIN */

/* TELA AVALIE SUA EXPERIÊNCIA */


.div-section-experiencia {
    height: 90%;
    width: 90%;
    margin-top: 10px;
    /* background-color: bisque; */
}

.div-section-experiencia-reserva {
    margin-top: 20px;
}


.h2-home {
    font-weight: 900;
    font-size: 2.5rem;
    color: #324156;
}

.h3-home{
    font-weight: 700;
    font-size: 2rem;
    color: #324156;
}

.avaliacao{
    margin-top: 50px;
}

.coment{
    margin-top: 70px;

}

.comentario{
    text-align: center;
}

.p-experiencia {
    width: 100%;
    font-size: 1.3rem;
    color: #939393;
    margin-left: 17%;
}

.star{
    margin-left: 25%;
}

.icon-star{
    font-size: 3rem;
    margin-left: 3px;
    color: #324156;
}
.icon-star:hover{
    color: #fce305
}
.div-avaliar {
    margin-top: 10px;
    margin-left: 10px;
    padding: 1% 5%;
    width: 95%;
    height: 30vh;
    border: #888 1px solid;
    border-radius: 10px;
    text-align:left;
}

.recomend{
    margin-top: 30px;
}

.recomendar{
    text-align: center;
    padding: 0% 10%;
}
.nota-nav {
    width: 100%;
    align-items: center;
    border: #888 1px solid;
    border-radius: 2px;
    margin-top: 10px;
    margin-left: 3%;
}

.btn-nota{
    height: 7vh;
    border:none;
    width: 50px;
    background-color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    color: #888;
    font-weight: bold;
    text-align: center;
}

.btn-nota:hover{
    color: #0033CC;
}

.footer-experiencia p {
    font-size: 1.3rem;
    color: #939393;
}

.footer-experiencia {
    height: 20vh;
}


/* FIM TELA AVALIE SUA EXPERIÊNCIA */
